<div class="email_title">
  Send Email Notification
</div>
<div class="email_button" onclick="sendEmail();">
    <button>Send Email</button>
</div>
<style>
   .email_title {
       position: relative;
       left:     30px;
       top:      10px;
       size:     10px;
   } 
   .email_button {
       position: relative;
       left:     30px;
       top:      15px;
       size:     10px;
   } 
</style>

<script type="text/javascript">
  function sendEmail(){
    try{
      // need to send email
    }catch(err){
      alert(err.stack);
    }               
  }
</script>
